<!DOCTYPE html>
<html>

    @using LakbayRilesPH;
    @{
  
        Validation.RequireField("username", "Username is required");
        Validation.RequireField("password", "Password is required");
        var test = "";
        if (IsPost)
        {
            var username = Request["username"];
            var password = Request["password"];
            Session["firstname"] = "hello";
            if (Validation.IsValid())
            {
                var login = new LakbayRilesPH.Login.Login();
                var account = login.ValidateUser(username,password);
                
                test = (string) Session["firstname"];
               
            }
        }
    }

    <head>
        <title></title>
        <link href="~/Content/ErrorMessages.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </head>
    <body>
        <form method="post" name="login" action="~/HomeAdmin.cshtml">
            <label for="username">Username:</label>
            <input type="text" name="username" value="@Request["username"]"/>
            @Html.ValidationMessage("username")

            <label for="password">Password:</label>
            <input type="password" name="password" value="@Request["password"]" />
            @Html.ValidationMessage("password")
           <input type="submit" value="Submit" />
           
        </form>
        @if (IsPost) { 
            <text>
                @test
            </text>
        }
    </body>
</html>
