.index-navbar {
    padding-left:10px;
}

.index-navbar-title {
     color:#ffffff !important; 
     font-size:23px;
}

.index-navbar-date {
    color:#ffffff !important;
    padding-right:20px;
}

.index-body {
     height:591px;
}

.index-map {
     z-index:1;
}

.index-announcement-board {
     z-index:3;
}

.index-announcement-board-title {
    color:#ffffff;
    background-color:#2c3e50;
    border-radius:15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.index-announcement-board-title:hover {
    background-color:rgba(255,255,255,0.2);
}
.index-announcement-items {
     border-radius:15px; 
     font-weight:600;
}

.index-announcement-item {
     background-color:#2c3e50; 
     color:#FFF; 
     height:180px; 
     overflow:hidden;
}

.index-announcement-link {
     color:#f1c40f;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition:.5s;
}

.index-announcement-link:hover {
    color:#2ecc71;
}

.index-rounded-border {
    border-radius:15px;
}

.index-modal-f-b {
    background-color:#2c3e50; 
    color:white;
}

.index-modal-body {
     height:445px; 
     overflow-y:scroll;
}

.index-modal-announcements {
    height:150px; 
    overflow-y:scroll;
}

.index-all-item {
    color:#2c3e50;
}

.index-all-item:hover {
    color:#2ecc71;
}

.sidebar-mobile{
    /*float:left;*/
    min-height: 100%;
    width: 150px;
    overflow: auto;
    background-color:azure;
    display:none;
}

.content-mobile{
    margin-left: 150px;
    display:none;
}

.col-lg-8{
    margin: 20px;
}

@media (max-width: 480px){
    #navbar-desktop{
        display:none;
    }
    #map-desktop{
        display:none;
    }
    .sidebar-mobile{
        display:block;
    }
    .content-mobile{
        display:block;
    }
}


