<!DOCTYPE html>

@using LakbayRilesPH;
@using WebMatrix.Data;
@{
    
    var value = false;
    
    <!-- After the login has been implemented, this will be removed-->
    var db = Database.Open("SQLAzureConnection");
    var id = 12;
    var query = db.QuerySingle("SELECT FirstName, LastName FROM Staff WHERE UserID = " + id);
    var staff = new Staff();
    staff.FirstName = query["FirstName"];
    staff.LastName = query["LastName"];
    staff.UserID = id;
    query = db.QuerySingle("SELECT StationName FROM Station WHERE Supervisor = " + staff.UserID);
    var stationName = query["StationName"];
    <!---------------------------------------------------------------->
      
    var status ="";
    if (IsPost) { 
        
        var ccn = Request.Params["cc-n"];
        if(ccn == "CC-ON"){
            Admin.UpdateDatabase(4, "north", staff.UserID);
        } else if(ccn == "CC-OFF"){
            Admin.UpdateDatabase(5, "north", staff.UserID);
        }

        var cvn = Request.Params["cv-n"];
        if(cvn == "Red"){
            Admin.UpdateDatabase(1, "north", staff.UserID);
        } else if(cvn == "Yellow"){
            Admin.UpdateDatabase(2, "north", staff.UserID);    
        } else if(cvn == "Green") {
            Admin.UpdateDatabase(3, "north", staff.UserID);
        }
        var ccs = Request.Params["cc-s"];
        if(ccs == "CC-ON"){
            Admin.UpdateDatabase(4, "south", staff.UserID);
        } else if(ccn == "CC-OFF"){
            Admin.UpdateDatabase(5, "south", staff.UserID);
        }

        var cvs = Request.Params["cv-s"];
        if(cvs == "Red"){
            Admin.UpdateDatabase(1, "south", staff.UserID);
        } else if(cvs == "Yellow"){
            Admin.UpdateDatabase(2, "south", staff.UserID);    
        } else if(cvs == "Green") {
            Admin.UpdateDatabase(3, "south", staff.UserID);
        }


        <script>
                alert(ccn);
        </script>
    }
        
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/js/alertStatus.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <h1>LakbayRiles</h1>
        <h2>
            Train Supervisor: @staff.FirstName @staff.LastName
        </h2>
        <h2>
            Station Assigned: @stationName
        </h2>
    </nav>
    <div>
        <div id="nbdiv" class="northbound">
            <h3><em>NORTHBOUND CONTROLS</em></h3>

            <div>
                <h4>Crowd Control Toggles:</h4>
                <form method="post">
                    <input type="Submit" name="cc-n" class="crowdcontrol" value="Crowd Control: ON" />
                    <input type="Submit" name="cc-n" class="crowdcontrol" value="Crowd Control: OFF" />
                </form>
            </div>

            <div>
                <h4>Crowd Volume Toggles:</h4>
                <form method="post">
                    <input type="Submit" name="cv-n" class="crowdvolume" id="red" value="Heavy" />
                    <input type="Submit" name="cv-n" class="crowdvolume" id="yellow" value="Moderate" />
                    <input type="Submit" name="cv-n" class="crowdvolume" id="green" value="Light" />
                </form>
            </div>
        </div>

        <br />

        <div id="sbdiv" class="southbound">
            <h3><em>SOUTHBOUND CONTROLS</em></h3>

            <div>
                <h4>Crowd Control Toggles:</h4>
                <form method="post">
                    <input type="Submit" name="cc-s" class="crowdcontrol" value="Crowd Control: ON" />
                    <input type="Submit" name="cc-s" class="crowdcontrol" value="Crowd Control: OFF" />
                </form>
            </div>

            <div>
                <h4>Crowd Volume Toggles:</h4>
                <form method="post">
                    <input type="Submit" name="cv-s" class="crowdvolume" id="red" value="Heavy" />
                    <input type="Submit" name="cv-s" class="crowdvolume" id="yellow" value="Moderate" />
                    <input type="Submit" name="cv-s" class="crowdvolume" id="green" value="Light" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
