<!DOCTYPE html>

@using LakbayRilesPH;
@using WebMatrix.Data;
@{
    var value = false;
    
    <!-- After the login has been implemented, this will be removed-->
    var db = Database.Open("SQLAzureConnection");
    var query = db.QuerySingle("SELECT FirstName, LastName FROM Staff WHERE UserID = 1");
    var staff = new Staff();
    staff.FirstName = query["FirstName"];
    staff.LastName = query["LastName"];
    staff.UserID = 1;
    query = db.QuerySingle("SELECT StationName FROM Station WHERE Supervisor = " + staff.UserID);
    var stationName = query["StationName"];
    <!---------------------------------------------------------------->
      
    if (IsPost) { 
        
        if (Request["cc-n"] == "CC-ON") { 
           value = Admin.UpdateDatabase(4, "north");
        }
        else
        {
            value = Admin.UpdateDatabase(5, "north");
        }

        if (Request["cv-n"] == "Red")
        {
            value = Admin.UpdateDatabase(1, "north");
        }
        else if (Request["cv-n"] == "Yellow")
        {
            value = Admin.UpdateDatabase(2, "north");
        }
        else
        {
            value = Admin.UpdateDatabase(3, "north");
        }

        if (Request["cc-s"] == "CC-ON")
        {
            value = Admin.UpdateDatabase(4, "south");
        }
        else
        {
            value = Admin.UpdateDatabase(5, "south");
        }


        if (Request["cv-s"] == "Red")
        {
            value = Admin.UpdateDatabase(1, "south");
        }
        else if (Request["cv-s"] == "Yellow")
        {
            value = Admin.UpdateDatabase(2, "south");
        }
        else
        {
            value = Admin.UpdateDatabase(3, "south");
        }
        
    }
        
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <h1>LakbayRiles</h1>
        <h2>
            Train Supervisor: @staff.FirstName @staff.LastName
        </h2>
        <h2>
            Station Assigned: @stationName
        </h2>
    </nav>
    <div>
        <div class="northbound">
            <div>
                <form method="post" name="cc-n">
                    <input type="Submit" name ="cc" class="crowdcontrol" value="CC-ON"/>
                    <input type="Submit" name ="cc" class="crowdcontrol" value="CC-OFF"/>
                </form>
            </div>
            <div>
                <form method="post" name="cv-n">
                    <input type="Submit" name ="cv" class="crowdvolume" id="red" value="Red"/>
                    <input type="Submit" name ="cv"class="crowdvolume" id="yellow" value="Yellow"/>
                    <input type="Submit" name ="cv"class="crowdvolume" id="green" value="Green"/>
                </form>
            </div>
          </div>

        <div class="southbound">
            <div>
                <form method="post" name="cc-n">
                    <input type="Submit" name="cc-s" class="crowdcontrol" value="CC-ON" />
                    <input type="Submit" name="cc-s" class="crowdcontrol" value="CC-OFF" />
                </form>
            </div>
            <div>
                <form method="post" name="cv-s">
                    <input type="Submit" name="cv" class="crowdvolume" id="red" value="Red" />
                    <input type="Submit" name="cv" class="crowdvolume" id="yellow" value="Yellow" />
                    <input type="Submit" name="cv" class="crowdvolume" id="green" value="Green" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
