@{
    var user = Request["username"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <h1>LakbayRiles</h1>
        <h1>Request[]</h1>
    </nav>
    <div>
     
    </div>
</body>
</html>
