<!DOCTYPE html>

@using LakbayRilesPH;
@{
    var value = false;
    if (IsPost) { 
        
        if (Request["cc"] == "CC-ON") { 
           value = Admin.UpdateDatabase(4);
        }
        else
        {
            value = Admin.UpdateDatabase(5);
        }

        if (Request["cv2"] == "Red")
        {
            value = Admin.UpdateDatabase(1);
        }
        else if (Request["cv2"] == "Yellow")
        {
            value = Admin.UpdateDatabase(2);
        }
        else
        {
            value = Admin.UpdateDatabase(3);
        }

        if (value)
        {
            <text>
                Yeaaah!
            </text>
        }    
    }
        
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <h1>LakbayRiles</h1>
       
    </nav>
    <div>
        <div class="northbound">
            <div>
                <form method="post">
                    <input type="Submit" name ="cc" class="crowdcontrol" value="CC-ON"/>
                    <input type="Submit" name ="cc" class="crowdcontrol" value="CC-OFF"/>
                </form>
            </div>
            <div>
                <form method="post" name="cv2">
                    <input type="Submit" name ="cv" class="crowdvolume" id="red" value="Red"/>
                    <input type="Submit" name ="cv"class="crowdvolume" id="yellow" value="Yellow"/>
                    <input type="Submit" name ="cv"class="crowdvolume" id="green" value="Green"/>
                </form>
            </div>
          </div>
    </div>
</body>
</html>
